body {
    background-color: aliceblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
A {
    text-decoration: none;
    transition: 1s 2s;
}

a:hover {
    color: blue;
    background-color: rgb(220, 111, 111);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

a:link {
    color: green;
}

a:visited {
    color: gray;
}